<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{ url_for('handle_upload') }}" method="post" enctype=multipart/form-data>
        <p><label>Split by employee</label><input type="checkbox" name="by_employee"></p>
        <p><label>Sum worktime from date</label><input type="date" name="date_start"></p>
        <p><label>Sum worktime to date</label><input type="date" name="date_end"></p>
        <p><input type="submit"></p>
        <p><input type="file" name="source_file"></p>
    </form>
</body>
</html>